@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select {
  font-family: monospace;
  font-size: inherit;
  line-height: inherit;
}

body {
  margin: 0;
}

.loader {
  width: 10px;
  height: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 15px 0 #eee, -15px 0 #eee2;background: #eee }
    33% {box-shadow: 15px 0 #eee, -15px 0 #eee2;background: #eee2}
    66% {box-shadow: 15px 0 #eee2,-15px 0 #eee; background: #eee2}
    100%{box-shadow: 15px 0 #eee2,-15px 0 #eee; background: #eee }
}